<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Kodinger" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Student Login Page</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
       
        <link rel="stylesheet" type="text/css" href="css/my-login.css" />
    </head>

    <body class="my-login-page" style="background-color: floralwhite;background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
        <!-- <div class="header">
            <div class="flex-child green">
                <img src="img/psg.png" alt="logo" />
            </div>
            <div class="flex-child magenta" style="padding-left: 18px;margin-top: 20px;">
                <h3 style="display: inline;">PSG Institute of Technology and Applied Research</h3>
                <h4>3rd Graduation Day</h4>
            </div>
               
           
        </div>  -->


        <header id="header" class="">
        
        
              <div class="logo" style="text-align: center;display: flex;justify-content: center;">
                
                    <img src="img/psg.png" alt="logo" />
                    <h1 class="text-light"><a href="index.html"><span>PSG Institute of Technology and Applied Research</span><br><span>Orientation 2022</span></a></h1>
                
                
              
                <!-- Uncomment below if you prefer to use an image logo -->
                
              </div>
        
              
          </header><!-- End Header -->
        






        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-md-center h-100">
                    <div class="card-wrapper">
                        
                        <div class="card fat">
                            <div class="card-body">
                                <h4 class="card-title">Search Details</h4>
                                <form
                                    action="/search"
                                    method="POST"
                                    class="my-login-validation"
                                    novalidate=""
                                >
                                    <%- include ("./partials/message"); %>

                                    <div class="form-group">
                                        
                                        <b><label for="batchno">Batch Number:</label></b>
                                        <select name="batchno" id="batchno">
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>
                                            <option value="E">E</option>
                                            <option value="F">F</option>
                                          </select>
                                        <br><br>
                                        
                                        <b><label for="date">Date:</label></b>
                                        <select name="date" id="date">
                                            <option value="0">27/10/2022</option>
                                            <option value="1">28/10/2022</option>
                                            <option value="2">29/10/2022</option>
                                            <option value="3">31/10/2022</option>
                                            <option value="4">01/11/2022</option>
                                            <option value="5">02/11/2022</option>
                                            <option value="6">03/11/2022</option>
                                            <option value="7">04/11/2022</option>
                                            <option value="8">05/11/2022</option>
                                          </select>
                                          
                                    </div>

                                    

                                    <div class="form-group m-0">
                                        <button
                                            type="submit"
                                            class="btn btn-primary btn-block"
                                        >
                                            Login
                                        </button>
                                    </div>
                                   
                                    
                                </form>
                            </div>
                        </div>
                        
                    </div>
                    <!-- new table -->

        
        <div class="container" style="text-align: center;height: 480px;margin-top: 12px;">
        
        <br>
        <footer style="position: fixed;left: 0;bottom: 0;width: 100%;color: white;text-align: center;">
            <div class="row" style="margin-right: 0px;">
        
                <div class="col-md-12 text-center" >
                  <p style="color:#281c1c;"> &copy; Copyright © 2022|CSE STUDENTS PSG INSTITUTE OF TECHNOLOGY AND APPLIED RESEARCH.<br />All Rights Reserved</p>
                </div>
              </div>

        </footer>
        </div>
        <!-- end of new table -->
                </div>
            </div>
            
            
        </section>
    
        


        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
        <script src="js/my-login.js"></script>
        
        
            
    
    </body>
</html>
